ion-content {
  &::part(scroll) {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  --background: var(--color-bg);

  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 42px;
    font-weight: 500;
    color: var(--color-title);
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}
