<ion-content>
  <h2><b>Olá,</b> Vamos precisar de algumas informações</h2>
  <div class="form-group" [formGroup]="form">
    <input class="custom" type="text" placeholder="Seu nome" formControlName="nome">
    <input class="custom" type="number" placeholder="Numero de pessoas" [inputMode]="'number'" formControlName="pessoas">
    <input class="custom" type="text" placeholder="CPF (Opcional)" formControlName="cpf" [mask]="'000.000.00-00'">
    <ion-button (click)="close()" class="geral" [disabled]="form.invalid">Continuar</ion-button>
  </div>

</ion-content>
