<header-main
  [haveBack]="true"
  [title]="'Resumo da mesa'"
></header-main>
<ion-content>
  <h1>RESUMO DO PEDIDO</h1>

  <ion-row class="title">
    <ion-col size="3">
      <h2>Qnt.</h2>
    </ion-col>
    <ion-col size="6">
      <h2>Prato</h2>
    </ion-col>
    <ion-col size="3">
      <h2>Valor (R$)</h2>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="mesa">
    <ion-row *ngFor="let item of groupItems(mesa.produtos)" class="product">
      <ion-col size="3">
        <p>{{ item.qnt }}</p>
      </ion-col>
      <ion-col size="6">
        <p>{{ item.nome }}</p>
      </ion-col>
      <ion-col size="3">
        <p>{{ item.valor | currency: 'BRL' }}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-top: 1px solid #eee">
      <ion-col size="12">
        <p style="text-align: right;">Valor Total: <strong>{{ total | currency: 'BRL' }}</strong></p>
      </ion-col>
    </ion-row>

    <div>
      <p>N° Mesa: {{ mesa.id }}</p>
      <p>N° Pessoas: {{ mesa.pessoas }}</p>
    </div>



  </ng-container>
</ion-content>
<ion-footer>
  <div class="actions">
    <ion-button class="geral">
      Fazer Pedido
    </ion-button>
    <ion-button class="geral">
      Alterar Pedido
    </ion-button>
  </div>
</ion-footer>
