<ion-content>

  <h1>Olá, Bem-vindo</h1>

  <ng-container *ngIf="false">
    <ng-container *ngIf="mesas$ | async as mesas">
      <div class="items">
        <div class="item" *ngFor="let mesa of mesas" (click)="selectionarMesa(mesa)">
          <h2>{{ mesa.nome }}</h2>
          <!-- <p>{{ mesa.ativa ? 'Livre' : 'Ocupada' }}</p> -->
        </div>
      </div>
    </ng-container>
  </ng-container>


  <div class="redes">
    <h2>Redes Sociais</h2>
    <div class="items">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
  </div>

</ion-content>
