/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


%button-base {
  --padding-start: 18px;
  --padding-end: 18px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

ion-button.geral {
  @extend %button-base;
  --background: var(--button-bg);
  color: var(--button-text);
}

ion-button.geral-remove {
  @extend %button-base;
  --background: rgb(222, 37, 37);
  color: var(--button-text);
}

input.custom {
  width: 100%;
  outline: none;
  background-color: var(--input-bg);

  color: var(--input-color);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  padding: 8px 12px;

  &::placeholder {
    opacity: 0.9;
    color: var(--input-placeholder);
  }


}
